a{
  text-decoration: none;
}

.navbar__list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 20px;
}

.navbar__item {
  margin: 0 40px 0 0;
}

.navbar__item  h3{  
  color: #ec0868;
}

.clicked{
  opacity: 0.3;
}

@media screen and (max-width: 768px){
  .navbar__list{
    flex-direction: column;
    margin: 0;
  } 
}
