button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.topbar__items{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .topbar__navbar .navbar__list,
    .topbar__searchbar{
        display: none;
    } 
}

.topbar__logo{
    display: inline-block;
    height: 100px;
    margin-right: 10px;
}

.topbar__logo img{
    height: 100%;
}

.clicked{
    visibility: hidden;
}

