
button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

.topbar__items{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 750px){
    .topbar__item,
    .topbar__searchbar{
        display: none;
    } 
}

.topbar__logo{
    display: inline-block;
    height: 100px;
    margin-right: 10px;
}

.topbar__logo img{
    height: 100%;
}

.topbar__searchbar{
    margin-top: 10px;
}

.topbar__navbar{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px;
}

.topbar__item{
    margin: 0 10px;
}

h2, h4, fa-shopping-cart, .sidebar{
    color: #ec0868;
}