.product {
  display: flex;
  background-color: #fbf5f3;
}

.product__img {
  border-radius: 10px 0px 0 0;
  margin: 15px 0px 0 0;
  width: 60%;
  background-color: white;
  border-top: 16px solid #D80FE2;
}

.product__info {
  border-radius: 0px 10px 0 0;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px 0 0;
  padding: 15px;
  border-top: 16px solid black;
  background-color: white;
}

.product__name h2 {
  margin: 0;
  color: #EC0868;
}

.product__color h4 {
  font-weight: 100;
  margin: 30px 0 0 0;
}

.onsale__list {
  margin: 5px 0 0 0;
  list-style: none;
  display: flex;
  padding: 0;
}

.onsale__list li {
  margin: 0 10px 0 0;
}

.product__actualprice h3 {
  margin: 0;
  color: #D80FE2;
}

.product__regprice {
  text-decoration: line-through;
  padding: 3px;
}

.product__discount {
  padding: 3px;
  color: #EC0868;
}

.product__sizes h3 {
  margin: 10px 0 0 0;
}

.sizes__list {
  margin: 5px 0 0 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.sizes__item {
  margin: 0 10px 0 0;
  color: #EC0868;
  font-weight: bold;
}

.product__button {
  width: 50%;
}

.product__button a{
  height: 4vh;
  margin: 70px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #EC0868;
  background-image: linear-gradient(#EC0868 27%, white 77%, black 104%, transparent);}

.product__button h3 {
  color: black
}

@media screen and (max-width: 768px){  
  .product {
    display: flex;
    flex-direction: column;
    background-color: #fbf5f3;
    padding: 0 0 20px 20px;
}

  .product__img {
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin: 15px 15px 0px 0px;
    border-top: 16px solid rgb(216, 15, 226);
  }

  .product__img img {
    width: inherit;
  }

  .product__info {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 15px;
    border-top: 15px solid black;
    background-color: white;
    border-radius: 0;
  }

  @media screen and (orientation: landscape){
    .product__button a {
      height: 10vh;
      margin: 70px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #EC0868;
      background-image: linear-gradient(#EC0868 27%, white 77%, black 104%, transparent);
    }
  }


}