.products{
  position: absolute;
  margin-top: 100px;
  background-color: #FBF5F3;  

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.products__bordertop{
  height: 200px;
  background-image: linear-gradient(white, gray, black);
}

.product__borderbottom{
  background-color: #d80fe2;  
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;  
  color: transparent;
}

.product{
  background-color: #EEEBD0;
  border-radius: 8px;  
  margin-bottom: 30px;  
  width: 300px;
}

.product__img{
  width: 100%;
  height: auto;
}

.product__img img{
  width: 100%;
  height: auto;
}

.product__info{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  text-align: center;
  top: 0;
}

.product__regprice{
  text-decoration: line-through;
  opacity: 0.6;
  font-size: 13px;
}

.product__name,
.product__actualprice{
  font-weight: 900;
  color: #ec0868;
}

.product__name{
  font-size: 14px;
}

.product__actualprice{
  font-size: 13px;
}

