.products{
  position: absolute;
  margin-top: 100px;
  background-color: #FBF5F3;  
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product__bordertop{
  background-color: #d80fe2;  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;  
  color: transparent;
}

.product{
  background-color: #EEEBD0;
  border-radius: 8px;
  margin-top: 10px;  
  margin-bottom: 20px;  
  width: 300px;
}

.product__discount{
  position: absolute;
  z-index: 1;
  background-color: black;
  width: 40px;
 margin-left: 250px;
  color: white;
}

.product__img{
  width: 100%;
  height: auto; 
}

.product__img img{
  width: 100%;
  height: auto;
}

.product__info{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  text-align: center;
  top: 0;
}

.product__name{
  font-size: 14px;  
  font-weight: 900;
  color: #ec0868;
}

.product__regprice{
  text-decoration: line-through;
  opacity: 0.6;
  font-size: 13px;
}

.product__actualprice{
  font-size: 13px;
  font-weight: 675;
}

