.search__container{
  position: absolute;
  margin-top: 100px;
  width: 100%;
}

.searchbar--clicked{
  visibility: hidden;
}

.search__input {
  margin: 0 0 0 15px;
}

.search__input input {
  color: #EC0868;
  background-color: #FBF5F3;
  border: none;
  font-size: xx-large;
  height: 50px;
  border-bottom: 1px solid #D80FE2;
}

.search__input input::placeholder {
  color: #D80FE2;
  }

.search__input input:focus {
outline: none;
}

