.products__container {
  position: absolute;
  margin-top: 100px;
  background-color: #FBF5F3;
  width: 100vw;
}

.products__amount h4 {
  color: #EC0868;
  position: absolute;
  margin: 10px 0 0 60px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}