.sidebar {
    transition: "2s ease";
    margin: 20px 0 0 10px;
    color: #ec0868;
}

.sidebar__content{
    position: absolute; 
    margin: 30px 0 0 0;
    z-index: 1;
    background-color: #FFF;
}

@media screen and (min-width: 768px){
    .sidebar{
        display: none;
    }
}
