.sidebar{
    width: "300px";
    min-height: "100px";
    transition: "2s ease";
    margin: 30px 10px;
}

.sidebar__content{
    position: absolute;
    z-index: 1;
}

@media screen and (min-width: 750px){
    .sidebar{
        display: none;
    }
}
